.App-logo {
  /* animation: App-logo-spin infinite 20s linear  */
  height: 70px;
}

.App-header {
  margin: 0;
  background-color: #93C47D;
  height: auto;
  padding: 10px;
  color: white;
  margin-bottom: 40px;
}

.User-greeting {
  position: absolute;
  top: 7.2%;
  right: 8%;
  color: #134F5C;
}

.Logout-link {
  position: absolute;
  top: 7%;
  right: 3%;
  color: #134F5C;
  font-size: large;
  font-weight: bolder;
}