.App {
  text-align: center 
}

.Loading {
  text-align: center
}

@media screen and (max-width: 800px) {
  .Login-form {
    max-width: 90% 
  }

  .App-logo {
    margin-left: -20% 
  }

  .Logout-link {
    margin-left: -10% 
  }

  .App-footer {
    margin: 0 auto 
  }

  .Footer-link {
    font-size: 68% 
  }
}

/* .App-title {
  font-size: 1.5em 
} */

/* .App-intro {
  font-size: large 
}
 */
/* @keyframes App-logo-spin {
  from { transform: rotate(0deg)  }
  to { transform: rotate(360deg)  }
} */
